# Ignorar diretórios e arquivos de build dentro de backend
/backend/target/
/backend/.mvn/
/backend/target/
/backend/wrapper

# Ignorar arquivos de configuração do Maven dentro de backend
/backend/mvnw
/backend/mvnw.cmd

# Ignorar arquivos gerados e dependências do Maven
*.log

# Ignorar arquivos compilados
*.class
*.jar
*.war
*.ear

# Ignorar arquivos de configuração do Eclipse e IntelliJ dentro de backend
/backend/.project
/backend/.classpath
/backend/.settings/
/backend/.idea/
/backend/*.iml

# Ignorar arquivos temporários do sistema operacional
.DS_Store

# Ignorar arquivos de configuração do usuário (Ex: Vim, Emacs)
*.swp

# Ignorar pasta target da raiz do projeto (caso exista)
target/

# Ignorar arquivos de configuração do projeto (caso haja necessidade)
# application.properties ou arquivos similares que você não deseja versionar
/backend/src/main/resources/application.properties
